h1{
 font-family: "Comic Sans MS", cursive, sans-serif;
 colour:red:
 }
 h2{
 font-family: verdana;
 colour:black
 }
 p{
 font-family: Arial;
  colour:black
 }
 body{
  background-colour: #ffe6e6;
  }
